.student-photo img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.student-info h2 {
    margin: 0;
    color: #333;
}

.student-info p {
    margin: 0;
    line-height: 1.5;
}

.card.clickable-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.card.clickable-card img.card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.7);
}

.card.clickable-card .card-content {
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.student-info {
    color: white;

    .student-name {
        color: white;
        margin: 0;
        font-size: 1.8rem;
    }

    .student-details {
        margin-top: 1rem;
        line-height: 2;
        font-size: 1.1rem;
    }
}

.clickable-card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.shadow-text {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    text-align: center;
}

.product-badge {
    margin-bottom: 5rem;
}

p-button {
    width: 100%;
}

.custom-divider {
    border: none;
    border-top: 2px solid #ccc;
    margin: 1rem 0;
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item {
    flex: 1;
    /* Los botones ocupan el mismo ancho */
}

.menu-item button {
    font-size: 0.85rem;
    padding: 0.75rem 1rem;
    /* Botones más grandes para mejor interacción */
    border-radius: 6px;
    color: white;
    /* Texto en blanco */
    /* Fondo oscuro del botón */
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Asegura que el botón ocupe el ancho de su contenedor */
}

.menu-item button:hover {
    transform: scale(1.05);
    /* Efecto de zoom */
}

.customer-badge {
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
}

.status-BAJO_PESO {
    background-color: #ff6b6b;
    /* Rojo */
}

.status-NORMAL {
    background-color: #4caf50;
    /* Verde */
}

.status-SOBREPESO {
    background-color: #ffc107;
    /* Amarillo */
}

.status-OBESIDAD {
    background-color: #f44336;
    /* Rojo intenso */
}

td,
th {
    text-align: center;
    vertical-align: middle;
}

.swal2-container {
    z-index: 2000 !important;
    /* Más alto que el modal */
}
