@media (max-width: 1290px) {
    .responsive-button .p-button-label {
        display: none;
        /* Oculta el texto del botón */
    }

    .button-fixed-width {
        width: 150px;
        /* Ajusta este valor según tu diseño */
        text-align: center;
        /* Centra el contenido del botón */
    }

    .button-group {
        width: 100%;
        /* Asegura que el contenedor ocupe el ancho completo */
        max-width: 200px;
        /* Opcional: límite máximo del ancho de los botones */
    }
}

.circle-photo {
    width: 100%;               /* Ancho relativo */
    max-width: 250px;          /* Tamaño máximo más grande (50% más) */
    height: auto;              /* Ajusta la altura automáticamente */
    aspect-ratio: 1 / 1;       /* Cuadrado perfecto para mantener la circularidad */
    border-radius: 50%;        /* Hace la imagen redonda */
    object-fit: cover;         /* Ajusta la imagen sin deformarla */
    border: 2px solid var(--surface-border); /* Borde opcional para resaltar */
}
