<div class="grid">
    <div class="col-12">
        <div class="card p-fluid" style="width: 100%;">
            <!-- Título y Botón Nuevo -->
            <div class="flex justify-content-between align-items-center mb-3">
                <h5 class="m-0">Músculos</h5>
                <div>
                    <button pButton icon="pi pi-plus" label="Nuevo músculo" class="p-button-sm"
                        (click)="onNewNode()"></button>
                </div>
            </div>

            <!-- Árbol de Músculos -->
            <p-tree [value]="musclesTree">
                <ng-template let-node pTemplate="default">
                    <div class="flex align-items-center">
                        <span class="flex-1">{{ node.data.name }}</span>

                        <!-- Botón Editar -->
                        <button pButton icon="pi pi-pencil" class="p-button-primary p-button-sm mx-2"
                            (click)="onEditNode(node)">
                        </button>

                        <!-- Botón Tacho de Basura -->
                        <button *ngIf="!node.children || node.children.length === 0" pButton icon="pi pi-trash"
                            class="p-button-danger p-button-sm" (click)="confirmDeleteNode(node)">
                        </button>
                    </div>
                </ng-template>
            </p-tree>
        </div>
    </div>
</div>
