<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <div class="field">
                <label>Músculos</label>
                <p-tree [value]="musclesTree">
                    <ng-template let-node pTemplate="default">
                        <span>{{ node.data.name }}</span>
                        <div class="actions ml-auto">
                            <!--button pButton icon="pi pi-plus" class="p-button-sm p-button-outlined mr-2"
                                (click)="onCreateNode(node)">
                            <button>
                            <button pButton icon="pi pi-pencil" class="p-button-sm p-button-outlined mr-2"
                                (click)="onEditNode(node)">
                            </button>
                            <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger"
                                (click)="onDeleteNode(node)">
                            </button-->
                        </div>
                    </ng-template>
                </p-tree>
            </div>
        </div>
    </div>

    <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
        <ng-template pTemplate="header">{{ isEditMode ? 'Editar Músculo' : 'Crear Músculo' }}</ng-template>
        <div class="field">
            <label for="muscleName">Nombre</label>
            <input pInputText id="muscleName" [(ngModel)]="muscleForm.name" class="w-full" />
        </div>
        <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" label="Guardar" class="p-button-success" (click)="onSaveNode()"></button>
            <button pButton icon="pi pi-times" label="Cancelar" class="p-button-outlined" (click)="onCancel()"></button>
        </ng-template>
    </p-dialog>
</div>
