<div class="layout-topbar">
    <!-- Logo -->
    <a #topbarmenu class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/logo-white.svg" alt="logo">
        <span>mootiv</span>
    </a>

    <!-- Botón Menú -->
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <!-- Botón Cerrar Sesión -->
    <div class="layout-topbar-menu">
        <h5 class="pt-3">Admin</h5>
        <button pButton label="Cerrar Sesión" class="pi pi-sign-out p-button-text" (click)="logout()"></button>
    </div>

</div>