<div class="col-12">
    <div class="flex align-items-center gap-3 student-header">
        <div class="student-photo mx-5">
            <img [src]="student | studentImage" [alt]="student.name" class="rounded-circle shadow-2" />
        </div>

        <div class="student-info flex-1">
            <h2 class="student-name">{{ student?.name }} {{ student?.lastName }}</h2>
            <p class="student-details">
                <strong>Email:</strong> {{ student?.email }} <br />
                <strong>DNI:</strong> {{ student?.dni || 'No disponible' }} <br />
                <strong>Teléfono:</strong> {{ student?.telephone }} <br />
                <strong>Fecha de Nacimiento:</strong> {{ student?.birthdate | date: 'dd/MM/yyyy' }} <br />
                <strong>Fecha de Inscripción:</strong> {{ student?.startDate | date: 'dd/MM/yyyy' }} <br />
            </p>
        </div>

        <div class="flex flex-column align-items-center gap-2">
            <span [class]="student.active ? 'product-badge status-instock' : 'product-badge status-outofstock'">
                {{ student.active ? 'ACTIVO' : 'INACTIVO' }}
            </span>
            <p-button [routerLink]="['/students', student.id]" icon="pi pi-pencil" label="Editar"
                styleClass="mb-2 p-button-sm">
            </p-button>
        </div>
    </div>

    <hr class="custom-divider" />

    <div class="menu-container solid-menu">
        <div *ngFor="let item of menuItems" class="menu-item" (click)="navigateTo(item.route)">
            <button pButton type="button" [icon]="item.icon" label="{{ item.title }}" class="p-button-text"></button>
        </div>
    </div>

    <hr class="custom-divider" />
    <div class="card">
        <div class="flex justify-content-between align-items-center mb-3">
            <h5>Listado de Ciclos de Entrenamiento</h5>
            <button pButton label="Agregar Nuevo Ciclo" class="p-button-outlined p-button-success" icon="pi pi-plus"
                (click)="openNewCycle()"></button>
        </div>
        <p-table [value]="cicles" [paginator]="true" [rows]="10" [resizableColumns]="true" class="p-datatable-sm"
            [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn style="text-align: center;">Fecha Inicio</th>
                    <th pResizableColumn style="text-align: center;">Fecha Fin</th>
                    <th pResizableColumn style="text-align: center;">Estado</th>
                    <th pResizableColumn style="text-align: center;">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cycle>
                <tr>
                    <td style="text-align: center;">{{ cycle.startDate | date: 'dd/MM/yyyy' }}</td>
                    <td style="text-align: center;">
                        {{ cycle.endDate ? (cycle.endDate | date: 'dd/MM/yyyy') : 'En curso' }}
                    </td>
                    <td style="text-align: center;">
                        <!-- Badge para el estado -->
                        <span class="badge" [ngClass]="{
                    'badge-draft': cycle.status === 'BORRADOR',
                    'badge-pending': cycle.status === 'PENDIENTE',
                    'badge-in-progress': cycle.status === 'EN_PROGRESO',
                    'badge-cancelled': cycle.status === 'CANCELADO',
                    'badge-completed': cycle.status === 'COMPLETADO'
                }">
                            {{ cycle.status }}
                        </span>

                        <!-- Botón con flecha (solo para BORRADOR) -->
                        <ng-container *ngIf="cycle.status === 'BORRADOR'">
                            <p-button icon="pi pi-arrow-right" styleClass="p-button-sm p-button-success ml-2"
                                (click)="updateCycleStatus(cycle.id, 'PENDIENTE')"></p-button>
                        </ng-container>

                        <!-- Botón con cruz (para BORRADOR, PENDIENTE, y EN_PROGRESO) -->
                        <ng-container
                            *ngIf="cycle.status === 'BORRADOR' || cycle.status === 'PENDIENTE' || cycle.status === 'EN_PROGRESO'">
                            <p-button icon="pi pi-times" styleClass="p-button-sm p-button-danger ml-2"
                                (click)="updateCycleStatus(cycle.id, 'CANCELADO')"></p-button>
                        </ng-container>
                    </td>
                    <td style="text-align: center;">
                        <p-button icon="pi pi-pencil" styleClass="p-button-sm p-button-warning mr-2"
                            (click)="editCycle(cycle.id)"></p-button>
                        <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger"
                            (click)="confirmDelete(cycle.id)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>