<div class="col-12">
    <header-student [student]="student" (navigate)="navigateTo($event)"></header-student>


    <div class="grid mt-4">
        <div class="col-12 md:col-6 lg:col-6" *ngFor="let card of cards">
            <div class="card clickable-card p-4 flex align-items-center justify-content-center"
                [style]="{ 'height': '200px', 'background-image': 'url(' + card.image + ')', 'background-size': 'cover', 'background-position': 'center' }"
                (click)="navigateTo(card.route)">
                <h3 class="text-white shadow-text">{{ card.title }}</h3>
            </div>
        </div>
    </div>

</div>