<div class="flex align-items-center gap-3 student-header">
    <!-- Foto del Estudiante -->
    <div class="student-photo mx-5">
        <img [src]="student | studentImage" [alt]="student.name" class="rounded-circle shadow-2" />
    </div>

    <!-- Datos del Estudiante -->
    <div class="student-info flex-1">
        <h2 class="student-name">{{ student?.name }} {{ student?.lastName }}</h2>
        <p class="student-details">
            <strong>Email:</strong> {{ student?.email }} <br />
            <strong>DNI:</strong> {{ student?.dni || 'No disponible' }} <br />
            <strong>Teléfono:</strong> {{ student?.telephone }} <br />
            <strong>Fecha de Nacimiento:</strong> {{ student?.birthdate | date: 'dd/MM/yyyy' }} <br />
            <strong>Fecha de Inscripción:</strong> {{ student?.startDate | date: 'dd/MM/yyyy' }} <br />
        </p>
    </div>
</div>

<hr class="custom-divider" />

<!-- Menú de Navegación -->
<div class="menu-container solid-menu">
    <div *ngFor="let item of menuItems" class="menu-item" (click)="navigateTo(item.route)">
        <button pButton type="button" [icon]="item.icon" label="{{ item.title }}" class="p-button-text"></button>
    </div>
</div>

<hr class="custom-divider" />